@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);

*{
    block-size: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

header{
    
}

body{
    font-family: 'Roboto', Arial, sans-serif !important;
}
.logo_header {
    width: 268px;
    height: 33px;
}

.nav_header{
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: box-shadow .25s ease 0s;
    display: block;
}

#div_header{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.div_dropdown_header{
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
   
    box-sizing: inherit;
}

#li_dropdown_header{
    display: inline-block;
    cursor: pointer;
    position: relative;
    display: block;
}

.ul_header{
    display: flex;
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;

}

#nav_menu_header{
    position: relative;
    float: right;
    
}

.ul_header a {
    color: #ababab;
    display: block;
    text-decoration: none;
    padding: 0 0.6em;
}

.div_dropdown_header a{
    color: #747474;
    line-height: 120%;
    padding: 12px 16px!important;
    text-decoration: none;
    display: block;
}

a{
    background-color: transparent;

}

.ul_header li{
    display: block;
    padding: 0 20px;
    transition:opacity .2s ease ;
    opacity:.5
}

.ul_header li:hover{
    color: #00b39b;
}

.nd_section{
    margin: 2.0625rem auto 3.75rem;
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}

.up_logo{
    border: 0;
    display: block;
    
    margin: 7rem auto 0 auto ;
    box-sizing: inherit;
}

img{
    height: auto;
}

.nd_section h1{
    text-align: center;
    font-size: 2.125rem;
    color: #00b39b;
}

h1, h2, h3, h4{
    margin: 1em 0;
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 300;
    
}



.st_div_two_p{
    margin: 0 -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.col_1{
    width: 50%;
}

.nd_section p{
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}

p{
    margin: 1.6em 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

[class*=col_] {
    float: left;
    min-height: 1px;
    padding: 20px;
}


.rd_div_rd_section h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}


.box{
    width: 250px;
    height: auto;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 25px;
    background-color: #00ccb1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box img{
    width: 45px;
    height: 45px;
}

.box h1{
    color: white;
    font-size: 1.4rem;
}

.box h2{
    color: white;

}

.box select{
    font-family: 'Roboto', Arial, sans-serif !important;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    width: 60%;
}

.box select option{
    font-family: 'Roboto', Arial, sans-serif !important;

    color: black;
}
.container_rd_sect{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    place-items: center;
    margin: 40px 85px;
}

.box2{
    background: #3d83df;
}

.box3{
    background: #1b2734;
}

.partner_box h1{
    color: #00ccb1;
    max-width: 11rem;

}
.partner_box{
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
}

.partners_logo img{
    width: auto;
    height: 19px;
}
.partners_logo{
    margin-left: 10rem;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
}

.logo{
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%)
    contrast(0);
  -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg)
    brightness(300%) contrast(0);
  opacity: 0.55;
}

.logo:hover{
    filter: none;
    opacity: 1;
}

.partners{
   
    display: flex;

}

#logo_gipo{
    width: 42px;
    height: 38px;
}

#logo_tutotempo{
    width: 126px;
    height: 16px;
}


#logo_feegow{
    width: 100px;
    height: 28px;
}

#logo_cloud{
    width: 72px;
    height: 34px;
}

.numbers_sect{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content:center;
    background-color: #e5faf8;
}

.div_numbers{

    margin-right: 10em ;
    display: block;
    grid-template-rows: auto auto;

}
.div_numbers>img,h1,p{
    display:block;
}





.div_numbers>h1{
    color:#00b39b;
    font-size: 2.125rem;
    width: 20rem;
}

.div_numbers>p{
    width: 29rem;
}

.num_global_div{
    
    display: grid;
    grid-template-columns:auto auto ;
}

.num_global_div>div{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    width: 15em;
    
}


.num_global_div>div>h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
    
}


.num_global_div>div>p{
    font-size: .8125em;
}

.div_numbers>img{
    position: absolute;
}

.last_sect>div>header>h1{
    color: #00b39b;
}
.last_sect>header>p{
    font-size: 2.142
}

.last_sect>div>header{
    
}

.st_div_pictures>header{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 460px;
    margin-left: 35%;
}

.offices {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 3em;

  }


.offices_slider {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}


.office {
    padding: 15px;
}


.office_inner:hover {
    box-shadow: 0em 1.5em 2em 0em rgba(155, 155, 155, 0.4);
}


.office_inner {
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
}


.office_desc {
    justify-content: center;
    padding: 1.1em;
  
    color: #747474;
}


.join-us {
    display: flex;
    justify-content: center;
    margin: auto;
}


.join-us_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.join-us_header h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.3px;
    color: #333333;
}

.join-btn {
    float: right;
    border-radius: 4px;
    padding: 1.2em 1.5em;
    background: #3d83df;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 0.72em;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
    width: 15em;
    margin-bottom: 4em;
}

.section_inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-family: "roboto", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #ababab;
    border-top: 1px solid #eef2f2;
    padding: 1em 0;
}

footer > div > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

p > a {
    color: #3d83df;
    text-decoration: none;
}


p > a:hover {
    text-decoration: underline;
}

.site_footer {
    text-align: center;
  }